1. Import the necessary libraries if you are starting a new notebook. Using the same data as the previous lab: 
    we_fn_use_c_marketing_customer_value_analysis.csv

2. Find all of the categorical data. Save it in a categorical_df variable.

3. Check for NaN values.

4. Check all unique values of columns.

5. Check dtypes. Do they all make sense as categorical data?

6. Does any column contain alpha and numeric data? Decide how to clean it.

7. Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions.

8. Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

9. Check number of unique values in each column, can they be combined in any way to ease encoding? Comment your thoughts 
   and make those changes.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#1. Import the necessary libraries if you are starting a new notebook. Using the same data as the previous lab: 
#we_fn_use_c_marketing_customer_value_analysis.csv
data = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

In [3]:
display(data.head())
display(data.shape)
display(data.info)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

(9134, 24)

<bound method DataFrame.info of      Customer       State  Customer Lifetime Value Response  Coverage  \
0     BU79786  Washington              2763.519279       No     Basic
1     QZ44356     Arizona              6979.535903       No  Extended
2     AI49188      Nevada             12887.431650       No   Premium
3     WW63253  California              7645.861827       No     Basic
4     HB64268  Washington              2813.692575       No     Basic
...       ...         ...                      ...      ...       ...
9129  LA72316  California             23405.987980       No     Basic
9130  PK87824  California              3096.511217      Yes  Extended
9131  TD14365  California              8163.890428       No  Extended
9132  UP19263  California              7524.442436       No  Extended
9133  Y167826  California              2611.836866       No  Extended

     Education Effective To Date EmploymentStatus Gender  Income  ...  \
0     Bachelor           2/24/11         Employed      F   56274  ...
1     Bachelor           1/31/11       Unemployed      F       0  ...
2     Bachelor           2/19/11         Employed      F   48767  ...
3     Bachelor           1/20/11       Unemployed      M       0  ...
4     Bachelor            2/3/11         Employed      M   43836  ...
...        ...               ...              ...    ...     ...  ...
9129  Bachelor           2/10/11         Employed      M   71941  ...
9130   College           2/12/11         Employed      F   21604  ...
9131  Bachelor            2/6/11       Unemployed      M       0  ...
9132   College            2/3/11         Employed      M   21941  ...
9133   College           2/14/11       Unemployed      M       0  ...

     Months Since Policy Inception Number of Open Complaints  \
0                                5                         0
1                               42                         0
2                               38                         0
3                               65                         0
4                               44                         0
...                            ...                       ...
9129                            89                         0
9130                            28                         0
9131                            37                         3
9132                             3                         0
9133                            90                         0

      Number of Policies     Policy Type        Policy  Renew Offer Type  \
0                      1  Corporate Auto  Corporate L3            Offer1
1                      8   Personal Auto   Personal L3            Offer3
2                      2   Personal Auto   Personal L3            Offer1
3                      7  Corporate Auto  Corporate L2            Offer1
4                      1   Personal Auto   Personal L1            Offer1
...                  ...             ...           ...               ...
9129                   2   Personal Auto   Personal L1            Offer2
9130                   1  Corporate Auto  Corporate L3            Offer1
9131                   2  Corporate Auto  Corporate L2            Offer1
9132                   3   Personal Auto   Personal L2            Offer3
9133                   1  Corporate Auto  Corporate L3            Offer4

      Sales Channel Total Claim Amount  Vehicle Class Vehicle Size
0             Agent         384.811147   Two-Door Car      Medsize
1             Agent        1131.464935  Four-Door Car      Medsize
2             Agent         566.472247   Two-Door Car      Medsize
3       Call Center         529.881344            SUV      Medsize
4             Agent         138.130879  Four-Door Car      Medsize
...             ...                ...            ...          ...
9129            Web         198.234764  Four-Door Car      Medsize
9130         Branch         379.200000  Four-Door Car      Medsize
9131         Branch         790.784983  Four-Door Car      Medsize
9132         Branch         691.200000  Four-Door Car        Large
9133    Call Center         369.600000   Two-Door Car      Medsize

[9134 rows x 24 columns]>

In [4]:
#2. Find all of the categorical data. Save it in a categorical_df variable.
categorical_df = data.select_dtypes(include=['object'])
display(categorical_df)

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [5]:
#3. Check for NaN values.
categorical_df.isna().sum()

Customer             0
State                0
Response             0
Coverage             0
Education            0
Effective To Date    0
EmploymentStatus     0
Gender               0
Location Code        0
Marital Status       0
Policy Type          0
Policy               0
Renew Offer Type     0
Sales Channel        0
Vehicle Class        0
Vehicle Size         0
dtype: int64

In [6]:
#4. Check all unique values of columns.
for col in categorical_df:
    print(categorical_df[col].unique())

['BU79786' 'QZ44356' 'AI49188' ... 'TD14365' 'UP19263' 'Y167826']
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
['No' 'Yes']
['Basic' 'Extended' 'Premium']
['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
['2/24/11' '1/31/11' '2/19/11' '1/20/11' '2/3/11' '1/25/11' '1/18/11'
 '1/26/11' '2/17/11' '2/21/11' '1/6/11' '2/6/11' '1/10/11' '1/17/11'
 '1/5/11' '2/27/11' '1/14/11' '1/21/11' '2/5/11' '1/29/11' '2/28/11'
 '2/12/11' '2/2/11' '2/7/11' '1/22/11' '2/13/11' '1/15/11' '1/8/11'
 '1/11/11' '1/28/11' '2/8/11' '2/23/11' '1/2/11' '2/16/11' '1/27/11'
 '1/23/11' '1/9/11' '2/11/11' '2/4/11' '2/1/11' '2/15/11' '2/26/11'
 '1/16/11' '1/1/11' '2/10/11' '1/24/11' '2/25/11' '1/12/11' '2/9/11'
 '1/19/11' '1/4/11' '2/14/11' '2/20/11' '2/18/11' '1/3/11' '1/13/11'
 '1/30/11' '2/22/11' '1/7/11']
['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
['F' 'M']
['Suburban' 'Rural' 'Urban']
['Married' 'Single' 'Divorced']
['Corporate Auto' 'Personal Auto' 'Special Auto']
['Corporate L3' 'Personal L3' 'Corporate L2' 'Personal L1' 'Special L2'
 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']
['Offer1' 'Offer3' 'Offer2' 'Offer4']
['Agent' 'Call Center' 'Web' 'Branch']
['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']
['Medsize' 'Small' 'Large']

In [24]:
categorical_df['Customer'].shape
#I suppose it makes sense for there to be so many (unique?) customer id values.

(9134,)

In [7]:
#5. Check dtypes. Do they all make sense as categorical data? Yes, I suppose so, with the exception of Effective To Date maybe.
#categorical_df.dtypes
categorical_df.dtypes

Customer             object
State                object
Response             object
Coverage             object
Education            object
Effective To Date    object
EmploymentStatus     object
Gender               object
Location Code        object
Marital Status       object
Policy Type          object
Policy               object
Renew Offer Type     object
Sales Channel        object
Vehicle Class        object
Vehicle Size         object
dtype: object

In [10]:
#6. Does any column contain alpha and numeric data? Decide how to clean it.
# Yes "Customer", "Policy" and "Renew Offer Type" columns contain alpha and numerica data.
categorical_df['Renew Offer Type']=categorical_df['Renew Offer Type'].str.replace('1', '-One', regex=True).str.replace('2', '-Two', regex=True).str.replace('3', '-Three', regex=True).str.replace('4', '-Four', regex=True)
categorical_df['Policy']=categorical_df['Policy'].str.replace('1', '-One', regex=True).str.replace('2', '-Two', regex=True).str.replace('3', '-Three', regex=True)
display(categorical_df)
#replaced the digit with the word for the digit

C:\Users\User\AppData\Local\Temp\ipykernel_2012\358977703.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical_df['Renew Offer Type']=categorical_df['Renew Offer Type'].str.replace('1', '-One', regex=True).str.replace('2', '-Two', regex=True).str.replace('3', '-Three', regex=True).str.replace('4', '-Four', regex=True)
C:\Users\User\AppData\Local\Temp\ipykernel_2012\358977703.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical_df['Policy']=categorical_df['Policy'].str.replace('1', '-One', regex=True).str.replace('2', '-Two', regex=True).str.replace('3', '-Three', regex=True)

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L-Three,Offer-One,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L-Three,Offer-Three,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L-Three,Offer-One,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L-Two,Offer-One,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L-One,Offer-One,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L-One,Offer-Two,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L-Three,Offer-One,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L-Two,Offer-One,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L-Two,Offer-Three,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L-Three,Offer-Four,Call Center,Two-Door Car,Medsize

In [ ]:
#7. Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions. 

#I want to reduce the number of unique 'Effective to Date' values by grouping them

In [18]:
#8. Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?
compare = categorical_df[['Policy Type', 'Policy']]
display(compare)

#What is important is that 'Corporate' and/or 'Personal' always match each other in the 'Policy Type' and 'Policy' columns. 
#Furthermore, for each type of the 3 policies, there are 3 sub-policies, L-One, L-Two, and L-Three.

         Policy Type             Policy
0     Corporate Auto  Corporate L-Three
1      Personal Auto   Personal L-Three
2      Personal Auto   Personal L-Three
3     Corporate Auto    Corporate L-Two
4      Personal Auto     Personal L-One
...              ...                ...
9129   Personal Auto     Personal L-One
9130  Corporate Auto  Corporate L-Three
9131  Corporate Auto    Corporate L-Two
9132   Personal Auto     Personal L-Two
9133  Corporate Auto  Corporate L-Three

[9134 rows x 2 columns]

In [27]:
#9. Check number of unique values in each column, can they be combined in any way to ease encoding? 
#   Comment your thoughts and make those changes.
pt = compare['Policy Type'].unique() #3 unique values
p = compare['Policy'].unique() #9 unique values
display (pt)
display (p)

#I dont need to combine. I can just entirely drop the 'Policy Type' column, and still be left with the same amount of information.
#As mentioned in task 8., 'Policy Type' is easily identifiable by looking at the first word in the 'Policy' column.

array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object)

array(['Corporate L-Three', 'Personal L-Three', 'Corporate L-Two',
       'Personal L-One', 'Special L-Two', 'Corporate L-One',
       'Personal L-Two', 'Special L-One', 'Special L-Three'], dtype=object)

In [28]:
df = categorical_df.drop('Policy Type', axis=1)
df
#dropped the unnecessary column 'Policy Type' to ease encoding

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate L-Three,Offer-One,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal L-Three,Offer-Three,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal L-Three,Offer-One,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate L-Two,Offer-One,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal L-One,Offer-One,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal L-One,Offer-Two,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate L-Three,Offer-One,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate L-Two,Offer-One,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal L-Two,Offer-Three,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate L-Three,Offer-Four,Call Center,Two-Door Car,Medsize